* {
  box-sizing: border-box;
}

html {
  /* formaat */
  height: 200vh;
}

body {
   /* Positie */
  display: flex;
  justify-content: center;
  align-items: center;
    /* formaat */
  height: 200vh;
    /* font */
  font-family: open sans-serif;
  color: #000000;
}

.p1-profilecard {
   /* Positie */
  display: flexbox;
  position: absolute;
  top: 3rem;
   /* formaat */
  width: 47rem;
  height: 23rem;
    /* Vorm, achtergrondkleur, schaduw */
  border-radius: 1rem;
  background: linear-gradient(90deg, rgb(46, 46, 46) 0%, rgb(98, 98, 98) 50%, rgb(74, 74, 74) 100%);
  box-shadow: 0 0 20px 20px rgba(45, 45, 45, 0.1);
}  

 img {
    /* Positie en formaat */
  position: relative;
  right: 5em;
  width: 23.5em;
  height: auto; 
}

h1 {
   /* Positie en rotatie */
  position: absolute;
  transform: rotate(270deg);
  top: 3.6em;
  right: 9em;
    /* Lettertype, lettergrote, regelafstand, letterafstand & kleur */
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 2.3em;
  letter-spacing: 2px;
  color: rgb(255, 255, 255)
}

.about-me-1 {
        /* Positie */
  position: absolute;
  top: 3.6em;
  right: 6em;
        /* Lettertype, lettergrote, regelafstand, letterafstand & kleur */
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
}

.about-me-2 {
  /* Positie */
  position: absolute;
  top: 10em;
  right: 6em;
        /* Lettertype, lettergrote, regelafstand, letterafstand & kleur */
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
}

button {
   /* Vormgeving: achtergrondkleur, randkleur */
  background-color: transparent;
  border-color: rgb(181, 181, 181);
  border-radius: 10%;
  color: rgb(181, 181, 181);
  outline: none;
    /* Positie */
  position: absolute;
  top: 28em;
  left: 52em;
  padding: 0.5em 2em;
  font-weight: 470;
  transition: .25s;
} 







/* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: Helvetica, Arial, sans-serif;
  background: silver;
}

header {
  padding: 0.5rem;
  background: red;
  color: white;

  h1 {
    text-transform: uppercase;
  }
}

article {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 12rem;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  overflow: hidden;
  background: white;
  text-align: center;
  transform-origin: center;
  transform: rotate(2deg);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  > p {
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;
    transform-origin: center;
    transform: rotate(-6deg);
    word-break: break-all;
  }
}

footer {
  height: 1rem;
  background: red;
} */
