/* Font bestanden */

/* extra-light */
@font-face {
  font-family: "Jali";
  src: url(/JaliLatin-ExtraLight.Trial-BF6569377f8e3db.ttf);
  font-weight: 80;
}
/* extra-light-italic */
@font-face {
  font-family: "Jali";
  src: url(/JaliLatin-ExtraLightItalic.Trial-BF6569377f9ce82.ttf);
  font-weight: 85;
}
/* light */
@font-face {
  font-family: "Jali";
  src: url(/JaliLatin-Light.Trial-BF6569377f5683e.ttf);
  font-weight: 90;
}
/* light-italic */
@font-face {
  font-family: "Jali";
  src: url(/JaliLatin-LightItalic.Trial-BF6569377f303e6.ttf);
  font-weight: 95;
}
/* regular */
@font-face {
  font-family: "Jali";
  src: url(/JaliLatin-Regular.Trial-BF6569377f5419d.ttf);
  font-weight: 100;
}
/* italic */
@font-face {
  font-family: "Jali";
  src: url(/JaliLatin-Italic.Trial-BF6569377f36665.ttf);
  font-weight: 150;
}
/* medium */
@font-face {
  font-family: "Jali";
  src: url(/JaliLatin-Medium.Trial-BF6569377f63c37.ttf);
  font-weight: 200;
}
/* medium-italic */
@font-face {
  font-family: "Jali";
  src: url(/JaliLatin-MediumItalic.Trial-BF6569377f67771.ttf);
  font-weight: 250;
}
/* semi-bold */
@font-face {
  font-family: "Jali";
  src: url(/JaliLatin-SemiBold.Trial-BF6569377f1e352.ttf);
  font-weight: 300;
}
/* semi-bold-italic */
@font-face {
  font-family: "Jali";
  src: url(/JaliLatin-SemiBoldItalic.Trial-BF6569377e6d5f2.ttf);
  font-weight: 350;
}
/* bold */
@font-face {
  font-family: "Jali";
  src: url(/JaliLatin-Bold.Trial-BF6569377f6d998.ttf);
  font-weight: 400;
}
/* bold-italic */
@font-face {
  font-family: "Jali";
  src: url(/JaliLatin-BoldItalic.Trial-BF6569377f9e1cb.ttf);
  font-weight: 450;
}
/* extra-bold */
@font-face {
  font-family: "Jali";
  src: url(/JaliLatin-ExtraBold.Trial-BF6569377f793d1.ttf);
  font-weight: 500;
}
/* extra-bold-italic*/
@font-face {
  font-family: "Jali";
  src: url(/JaliLatin-ExtraBoldItalic.Trial-BF6569377f9ebb9.ttf);
  font-weight: 550;
}
/* black- */
@font-face {
  font-family: "Jali";
  src: url(/JaliLatin-Black.Trial-BF6569377fbadc7.ttf);
  font-weight: 600;
}
/* black-italic*/
@font-face {
  font-family: "Jali";
  src: url(/JaliLatin-BlackItalic.Trial-BF6569377fa42b7.ttf);
  font-weight: 650;
}

:root {
  --primair-1: #E41A26;
  --primair-1-1: #F83A46;
  --primair-1-3: #C61923;

  --primair-2: #0092C0;
  --primair-2-1: #29B2DD;
  --primair-2-3: #007FA7;

  --primair-3: #F5EA32;
  --primair-3-1: #FFF665;
  --primair-3-3: #DACF16;

  --primair-4: #fefefe;
  --primair-4-1: #E2E2E2;
  --primair-4-2: #c7c7c7;

  --primair-5: #1D1D1D;
  --primair-5-1: #363636;
  --primair-5-3: #0D0D0D;
}


* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/images/stephen-meyers-rLBewYnoi6I-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--primair-5-1);
  display: flex;
  flex-direction: column;
  font-family: "Jali";
  font-weight: 100;
  height: 50em;
  overflow: scroll;
  position: relative;
}

article, div, section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header styling */
header {
  width: 100%;
  height: 2em;
  background: var(--primair-5-1);
  border-bottom: solid .2em var(--primair-3);
  > a {
    font-size: .8em;
    padding: 0 0 0 1em;
    color: var(--primair-4);
    text-decoration: none;
    cursor: pointer;
  }
}

/* frame-1 */
.frame-1 {
  flex-direction: column;
  text-align: center;
  padding: 8em 0 0 0;

  opacity: 0%;

  animation-name: fade-out;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

/* @keyframes fade-out {
  0%   { opacity: 100%; }
  100%   { opacity: 0%; }
} */

h1 {
  font-size: 10em;
  color: var(--primair-1);
  text-wrap: nowrap;
  line-height: .8em;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: var(--primair-3);
  + h1:nth-of-type(2) {
    font-size: 3em;
    -webkit-text-stroke-width: 1.5px;
  }
}

h2 {
  font-size: 1.9em;
  font-weight: 95;
  color: var(--primair-4);
  border-bottom: solid .08em var(--primair-3);

  width: 10em;
  padding: .5em 0 0.2em 0;

}

.frame-2 {
  position: absolute;
  top: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: clamp(1rem, 65.789vw + 4.444rem, 1011.563rem);

  opacity: 100%;

  animation-name: fade-in;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

/* @keyframes fade-in {
  0%   { opacity: 0%; }
  100%   { opacity: 100%; }
} */

.frame-2 article:nth-of-type(1) {
  align-items: start;
  background: var(--primair-5-1);
  border: solid .2em var(--primair-2);
  color: var(--primair-4);
  flex-direction: column;
  line-height: 1.3em;
  width: 14em;
  transform: matrix(1, 0, 0, 1, 70, 23);
  z-index: 4;
  > p:nth-of-type(1) {
    background: var(--primair-2);
    border-bottom: solid .2em var(--primair-2);
    color: var(--primair-5);
    font-size: .8em;
    padding: 0 0 0 .5em;
    width: 17.2em;
  }
  > h3 {
    font-weight: 300;
    font-size: 1.5em;
    padding: .5em 0 .25em .5em;
  }
  > p:nth-of-type(2) {
    padding: 0 0 .5em .8em;
    color: var(--primair-4-2);
    font-size: 1em;
  }
}

.frame-2 article:nth-of-type(2) {
  align-items: start;
  background: var(--primair-5-1);
  border: solid .2em var(--primair-3);
  color: var(--primair-4);
  flex-direction: column;
  line-height: 1.3em;
  width: 9em;
  z-index: 3;
  transform: matrix(1, 0, 0, 1, 106, -246);

  > p:nth-of-type(1) {
    background: var(--primair-3);
    border-bottom: solid .2em var(--primair-3);
    color: var(--primair-5);
    padding: 0 0 0 0.5em;
    font-size: .8em;
    width: 10.9em;
  }
  > div {
    align-items: start;
    height: 9.9em;
    overflow-y: scroll;
    flex-direction: column;
    padding: 11em 0 0 .5em;
    
    > h4 {
      font-weight: 300;
      font-size: 1.5em;
      padding: .5em 0 .25em 0;
    }
    > p:nth-of-type(1), p:nth-of-type(2) {
      color: var(--primair-4-2);
      font-size: 1em;
    }
    > p:nth-of-type(2) {
      padding: 0 0 .5em 0;
    }
  }
}

.download-window {
  align-items: start;
  background: var(--primair-5-1);
  border: solid .2em var(--primair-1);
  color: var(--primair-4);
  flex-direction: column;
  line-height: 1.3em;
  width: 14.5em;
  z-index: 3;
  transform: matrix(1, 0, 0, 1, 41, -237);

  > p:nth-of-type(1) {
    background: var(--primair-1);
    border-bottom: solid .2em var(--primair-1);
    color: var(--primair-5);
    padding: 0 0 0 0.5em;
    font-size: .8em;
    width: 17.7em;
  }
  > div:nth-of-type(1) {
    border: solid .2em var(--primair-1);
    width: 12em;
    height: 2em;
    margin: 1em 0 0 1em;
  }
  > div:nth-of-type(2) {
    background: var(--primair-1);
    width: 3em;
    height: 1.2em;
    transform: matrix(1, 0, 0, 1, 22, -26);
    animation: size 3s infinite ease-in-out;
  }
  > p:nth-of-type(2) {
    font-size: .9em;
    padding: 0 0 0.5em 1em;
  }
}

@keyframes size {
  0%   { width: 3em; }
  23%  { width: 6em;}
  33%  { width: 5em;}
  50% { width: 7em; }
  66% { width: 2em; }
  86% { width: 9em; }
  100%   { width: 3em; }
}

.img-window {
  justify-content:flex-start;
  border: solid .2em var(--primair-3);
  background: var(--primair-5-1);
  flex-direction: column;
  position: relative;
  width: 11.4em;
  height: 20em;
  z-index: 2;
  transform: matrix(1, 0, 0, 1, -27, -13);

  > img {
    width: 11.2em;
    object-fit: cover;
    height: 19em;
    overflow: hidden;
    transform: matrix(1, 0, 0, 1, -1.3, 1);
  }
  > p {
    background: var(--primair-3);
    border-bottom: solid .2em var(--primair-3);
    color: var(--primair-5);
    font-size: .8em;
    padding: 0 0 0 0.5em;
    width: 13.9em;
  }
}

.gradient-window {
  justify-content:flex-start;
  border: solid .2em var(--primair-1);
  flex-direction: column;
  position: absolute;
  height: 32em;
  width: 13em;
  z-index: 1;
  transform: matrix(1, 0, 0, 1, 9, -189);
  animation: background 5s infinite linear;
  > p {
    background: var(--primair-1);
    border-bottom: solid .2em var(--primair-1);
    color: var(--primair-5);
    font-size: .8em;
    padding: 0 0 0 0.5em;
    width: 15.9em;
  }
}

@keyframes background {
  0%   { background: var(--primair-1) }
  33%  { background: var(--primair-2) }
  66% { background: var(--primair-3) }
  100%   { background: var(--primair-1) }
}

.quote-window-1, .quote-window-2, .quote-window-3 {
  align-items: start;
  color: var(--primair-4);
  flex-direction: column;
  line-height: 1.3em;
  width: 9.5em;
  > p:nth-of-type(1) {
    color: var(--primair-5);
    font-size: .8em;
    padding: 0 0 0 0.5em;
    width: 11.5em;
  }
  > p:nth-of-type(2) {
    font-weight: 300;
    font-size: 2em;
    padding: .5em 0 .5em .5em;
  }
}

.quote-window-1 {
  background: var(--primair-5-1);
  border: solid .2em var(--primair-1);
  z-index: 2;
  transform: matrix(1, 0, 0, 1, -45, -290);
  > p:nth-of-type(1) {
    background: var(--primair-1);
    border-bottom: solid .2em var(--primair-1);
  }
}


.quote-window-2 {
  background: var(--primair-5-1);
  border: solid .2em var(--primair-2);
  z-index: 2;
  transform: matrix(1, 0, 0, 1, 37, -345);
  > p:nth-of-type(1) {
    background: var(--primair-2);
    border-bottom: solid .2em var(--primair-2);
  }
}



.quote-window-3 {
  background: var(--primair-5-1);
  border: solid .2em var(--primair-3);
  transform: matrix(1, 0, 0, 1, -34, -400);
  > p:nth-of-type(1) {
    background: var(--primair-3);
    border-bottom: solid .2em var(--primair-3);
  }
}

@media (min-width:425px) { 
  .frame-2 {
    width: clamp(1rem, 68.789vw + 4.444rem, 1011.563rem);
  }
}

@media (min-width:540px) { 
    .frame-2 {
      width: clamp(1rem, 81.789vw + 4.444rem, 1011.563rem);
    }

    .img-window {
      transform: matrix(1, 0, 0, 1, -79, -13);
    }

    .frame-2 article:nth-of-type(1) {
      transform: matrix(1, 0, 0, 1, 86, 23);
  }

  .frame-2 article:nth-of-type(2) {
    transform: matrix(1, 0, 0, 1, 126, -246);
  }

  .download-window {
    transform: matrix(1, 0, 0, 1, 81, -237);
    z-index: 4;
  }

  .quote-window-1 {
    transform: matrix(1, 0, 0, 1, -61, -330);
    z-index: 3;
  }

  .quote-window-2 {
    transform: matrix(1, 0, 0, 1, 16, -333);
    z-index: 2;
  }

  .quote-window-3 {
    transform: matrix(1, 0, 0, 1, -51, -371);
    z-index: 1;
}
}

@media (min-width:700px) { 
  .frame-1 {
    padding: 8em 0 0 0;
  }
  
  h1 {
    font-size: 14em;
    line-height: .8em;
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: var(--primair-3);
    + h1:nth-of-type(2) {
      font-size: 4.3em;
      -webkit-text-stroke-width: 1.5px;
    }
  }
  
  h2 {
    font-size: 2.8em;
    width: 10em;
    padding: .3em 0 0.2em 0;
  
  }
  }

  @media (min-width:816px) { 
    .frame-2 {
      width: clamp(1rem, 81.789vw + 8.444rem, 1011.563rem);
    }

    .img-window {
      transform: matrix(1, 0, 0, 1, -105, -13);
    }

    .frame-2 article:nth-of-type(1) {
      transform: matrix(1, 0, 0, 1, 130, 23);
  }

  .frame-2 article:nth-of-type(2) {
    transform: matrix(1, 0, 0, 1, 126, -262);
  }

  .download-window {
    transform: matrix(1, 0, 0, 1, 138, -237);
    z-index: 4;
  }

  .quote-window-1 {
    transform: matrix(1, 0, 0, 1, -90, -330);
    z-index: 3;
  }

  .quote-window-2 {
    transform: matrix(1, 0, 0, 1, 82, -304);
    z-index: 2;
  }

  .quote-window-3 {
    transform: matrix(1, 0, 0, 1, -90, -287);
    z-index: 1;
}

  .gradient-window {
    height: 40em;
    width: 13em;
    transform: matrix(1, 0, 0, 1, 9, -134);
  }
}

  @media (min-width:1000px) { 
    .frame-2 {
      width: clamp(1rem, 83.789vw + 11.444rem, 1011.563rem);
    }
  }

  @media (min-width:1450px) { 
    .frame-2 {
      width: clamp(1rem, 88.789vw + 11.444rem, 1011.563rem);
    }
  }

